body {
    margin: 0 auto;
    width: 1000px;
}

header {
    font-size: 3em;
    background-color: forestgreen;
    color: yellow;
    text-align: center;
    line-height: 100px;
}

.container {
    height: 500px;
    background-color: gold;
    position: relative;
}

nav {
    height: 500px;
    width: 150px;
    background-color: yellowgreen;
}

section {
    width: 690px;
    height: 500px;
    background-color: yellow;
    top: 0;
    position: absolute;
}

aside {
    width: 150px;
    height: 500px;
    background-color: yellowgreen;
    position: absolute;
    right: 0;
    top: 0;
}

footer {
    height: 100px;
    background-color: gray;
}